* {
    box-sizing: border-box;
}

/* luukkujen numeroiden tyyliasetukset */

.nappi {
    font-family: "galada";
    font-size: 40px;
    background: none;
    border: none;
    display: absolute;
    top: 50%;
    left: 50%;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 60%;
    z-index: 100;
    color: white;

    text-shadow: 2px 2px 0 maroon, -2px 2px 0 maroon, -2px -2px 0 maroon,
    2px -2px 0 maroon;

    font-size: 50px;

}

/*luukkujen numeroiden tyyliasetukset kun pitää hiirtä luukun numeron yllä */

button:hover {
    color: brown;
}

.luukku {
    border: 3px double white;
    position: relative;
}

.container {
    width: 800px;
    border: 15px double white;    
    margin: 15px auto;
    display: grid;
    background-color: maroon;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "luukku1 luukku2 luukku3 luukku4"
    "luukku5 luukku6 luukku7 luukku8"
    "luukku9 luukku10 luukku11 luukku12"
    "luukku13 luukku14 luukku15 luukku16"
    "luukku17 luukku18 luukku19 luukku20"
    "luukku21 luukku22 luukku23 luukku24";
}


.text{
    height: 100%;
    width: 100%;
    color: rgb(234, 0, 0);
    padding: 10px;
    border: 2px solid black;
    transition: opacity 2.5S;

}

#modaali {
    display:none;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(44, 3, 3, 0.489);
    z-index: 150;
}

#modaali-sisalto {
    width: 50%;
    background-color: white;
    margin: 50px auto;
    padding: 30px;
    border: 10px double maroon;
}

#modaalikuva {
    width: 60%;
    display: block;
    margin: 15px auto;

}

.fakta, h2 {
    display:none;
}

body {
    background-image: url("kuvat/joulupallot.png");
    background-size: cover;
    text-align: center;
    font-family: "Lora";
}

.kuva {
    width: 100%;
    object-fit: contain;
    display: block;
    visibility: hidden;
}

h1 {
    color: white;
    text-shadow: 2px 2px 0 maroon, -2px 2px 0 maroon, -2px -2px 0 maroon,
    2px -2px 0 maroon;
}

span {
    color: white;
    position: absolute;
    right: 10%;
    top: 0px;
    font-size: 40px;
    font-weight: bold;
    padding: 30px;
}